.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
  margin-bottom: 16px;
}

.todo-item p {
  font-size: 16px;
}

.button {
  font-size: 14px;
  color: #ff0b37;
  background-color: transparent;
  outline: none;
  border: 1px solid #ff0b37;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
}
