.app-container {
  min-height: 100vh;
  background-color: #ffc2a0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.todos-container {
  background-color: white;
  border-radius: 12px;
  padding: 20px 40px;
  width: 90%;
  max-width: 1140px;
}

.todos-container h1 {
  text-align: center;
  color: #ff8542;
  font-size: 32px;
  margin-bottom: 40px;
}

.todos-list {
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .todos-list {
    width: 80%;
    margin: auto;
  }
}
